body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1cf10;
    background-image:url('./th.JPEG');
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2ed49a4d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  